
<section class="flex  flex-col justify-center items-center h-screen">


        <h1 class="text-grey-500 text-6xl my-4">Home page </h1>
        <h1 class="text-5xl text-green-400"> Welcome {{user}} !</h1>

</section>

